<h1>Patient Name: <%=@patient.name%> </h1><br>
<h2>Patient Age: <%=@patient.age%> </h2><br>
<ul>
<%@patient.appointments.each do |a|%>


<li>appointment date:<br> <%=a.appointment_datetime.strftime("%B %d, %Y at %k:%M")%> <br>
Doctor Name: <%=link_to a.doctor.name, doctor_path(a.doctor)%> </li>

<%end%>
</ul>
